extends layout
block content
    script(defer, src='/js/admin.js')
    div
        h1 #{locals.title}
            p
                h2 Reset
                form(method='post')
                    input(type='button',value='Reset',onclick='resetCounter()')

            p
                h2 Band Name
                form(method='post')
                    #bandNames
                        select(id='bandName',onchange='setBandName()')
                            for bandName in bandNames
                                option(value='#{bandName}',selected=currentBand==bandName) #{bandName}



