extends layout

block content
    script(defer, src='/js/visualize.js')

    div
        h1(id='currentBand') #{currentBand}

    div
        ul(id='receiver')

    //span(id='clapNumberGaugeContainer')
    div(id='vizArea')