extends layout

block content
    script(defer, src='/js/tap.js')
    div(id='sender', style='width: 100%; height: 100%')
        //a(id='sender')='Send a Message'
        a 'Send a Message'
        ul(id='receiver')