extends layout

block content
    script(defer, src='jquery-tap/jquery-tap.js')
    script(defer, src='/js/tap.js')

    div
        div(id='sender',style='position: absolute; top: 0; left: 0;background-color:green;min-width:100%;min-height:100%')='Send a Message'
        ul(id='receiver')