extends layout

block content
    script(defer, src='jquery-tap/jquery-tap.js')
    script(defer, src='/js/tap.js')
    div(id='mainSection')
        //div(id='sender',style='position: absolute; top: 0; left: 0;background-color:green;min-width:100%;min-height:100%')='Send a Message'
        div(id='clapIntensity', class='bigText', style='background-color: white')
        ul(id='receiver')